extends layout.pug
block content
	h1 Database Systems Module
	h3.alert-warning=message 
	main
		h2 Query Results
		ul
			li <a href='http://localhost:3000/qa')> Query A Results</a>
			li <a href='http://localhost:3000/qb')> Query B Results</a>
			li <a href='http://localhost:3000/qc')> Query C Results</a>
			li <a href='http://localhost:3000/qd')> Query D Results</a>
			li <a href='http://localhost:3000/qe')> Query E Results</a>
			li <a href='http://localhost:3000/qf')> Query F Results</a>
		h2 Forms
		ul 
			li <a href='http://localhost:3000/form')> Add a new employee </a>
			li <a href='http://localhost:3000/project')> Search project </a>
